*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }


  .container{ margin-inline: 24px;}


  @media screen and (min-width: 728px) {
    .container {
      margin-inline: 48px;
    }
  }
  @media screen and (min-width: 1300px) {
    .container {
      max-width: 1200px;
      margin-inline: auto;
    }
  }

  @media screen and (max-width: 727px) {
    nav .menu li:not(:nth-last-child(2)):not(:last-child) {
      display: none;
    }
  }

  @media screen and (max-width: 551px) {
    nav .menu li:nth-last-child(2) {
      display: none;
    }
  }
.flex{display:flex;}

.align-center{align-items:center;}


.space-between{justify-content: space-between;}

.align-baseline{align-items: baseline;}
.menu{font-size: 0.85em;
    margin-block: 1.125rem;}

    
.menu li{display: inline-block;
    vertical-align: middle;
    }

.menu li a{text-decoration: none;
color:black;
}

.menu  button{border-radius: 15px;
    padding: 15px;
background-color: #191919;
color: white;
line-height: 20px;
}


nav,
.hero {
    border-bottom: 1px solid black;
  }
nav{position:fixed; /*position sticky va solo all'interno di header...quindi si usa position fixed*/
top:0;
left:0;
right:0;

}
/*fino ai 727 non mostrare p primi due figli  li display none ma non su sign in e bottom a partire dal button 1*/


header{ background-color: #ffc017;}
.hero {
 
    overflow: hidden;/*serve a nascondere le m al di sotto di hero section*/
  position: relative;/*positzionato hero relativamente alla sua posizione normale*/
}
.hero .artwork {
  position: absolute; /*artwork per i cazzo loro con absolute come posizione*/
  top:100px;
  left: 500px;
  width: 585px;
}

  .hero .content {
  width: 555px; /*dai dimensioni fisse a content e artwork*/
  padding-top: 100px;
  padding-bottom: 105px;
}

.hero .content h1 {
    font-size: 70px;
    letter-spacing: -0.05em;
  
    line-height: 1;
    margin-block: 0;
    font-family: "Spectral", serif;
  }

 .hero .content h3 {
  width: 80%;
  font-size: 24px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-block: 1em;
}
  
.hero .content button {
  margin-top: 1.5rem;
  font-size: 20px;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top:10px;
  padding-bottom:10px;
background-color: #191919;
color: white;
line-height: 20px;
}
  .hero .content button a{text-decoration: none;
color:white;}

nav .menu li  {
    margin-right: 25px;
  }

/*fino a 728px non mostrare più hero. artwork*/
@media screen and (min-width: 552px) {
  .hero .content h1 {
    font-size: 85px;
    line-height: 88px;
  }
}

@media screen and (min-width: 904px) {
  .hero .content h1 {
    font-size: 109px;
    letter-spacing: -6px;
  }}

  @media screen and (max-width: 728px) {
    .hero .artwork {
      display: none;
    }
  }
  
  @media screen and (min-width: 1080px) {
    .hero .artwork {
      left: initial;
      right: 0;
    }
  }
  
  section.trending {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  
  section.trending .trending-title-section {
    margin-bottom: 10px;
  }
  
  section.trending img[src$="trending.svg"] {
    margin-right: 12px;
  }


  section.trending .grid {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -16px;
  }


  section.trending .col .num {
    font-size: 30px;
    line-height: 36px;
    color: rgba(230, 230, 230, 1);
    font-weight: 900;
    line-height: 1;
  }

  .flex-vertical {
    flex-direction: column;
  }
  
  .avatar-title img {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .avatar-title h4 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
  }

  .avatar-title h4 .in {
    color: rgba(117, 117, 117, 1);
  }

  .bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-info span {
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }

  .bottom-info .dot {
    padding-inline: 0.25rem;
  }


  section.trending > .container > .grid > .col {
    width: 100%; /* fallback */
    flex-basis: 100%; 
    margin-bottom: 24px;
    padding-inline: 16px;
  }

  section.trending .col > .flex {
    column-gap: 20px;
  }

/*da 728px in pratica la largezza è del 50% di ogni colonna cosicche a 728 ne entrano due a colonna*/
  @media screen and (min-width: 728px) {
    section.trending > .container > .grid > .col {
      width: 50%; 
      flex-basis: 50%; /*setta la larghezza di flex*/
      margin-bottom: 24px;
      padding-inline: 16px;
    }
  }
  /*da 1080px in pratica la  largezza di col è del 50% di ogni colonna cosicche a 1080 ne entrano tre a colonna*/
  @media screen and (min-width: 1080px) {
    section.trending > .container > .grid > .col {
      width: 33.333%; 
      flex-basis: 33.333%;/*setta la larghezza di flex*/
      margin-bottom: 24px;
      padding-inline: 16px;
    }
  }
  
  section.trending .col > .flex {
    column-gap: 20px;
  }
  
  section.trending .col .num {
    font-size: 30px;
    line-height: 36px;
    color: rgba(230, 230, 230, 1);
    font-weight: 900;
    line-height: 1;
  }
  
  section.trending .content h2 {
    font-weight: 900;
    margin-block: 10px;
  }

  section.wall {
    padding-top: 56px;
    border-top: 1px solid rgba(230, 230, 230, 1);
  }

  section.wall .grid {
    display: flex;
    align-items: flex-start;
  }

  section.wall .grid > .col-main {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    overflow-x: auto;
  }


  section.wall {
    padding-top: 56px;
    border-top: 1px solid rgba(230, 230, 230, 1);
  }

  section.wall .grid {
    display: flex;
    align-items: flex-start;
  }
  /*condizioni normali*/
  section.wall .grid > .col-main {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    overflow-x: auto;
  }

  /*da tablet a 903 cambia ordine con meno 1 va alla parte superiore va in cima*/
  @media screen and (max-width: 903px) {
    section.wall .grid {
      flex-wrap: wrap;
    }
  
    section.wall .grid > aside {
      order: -1;
      width: 100%;
      margin-block-end: 24px;
    }
  }


  @media screen and (min-width: 904px) {
    section.wall .grid {
      column-gap: 8.333%;
    }
  
    section.wall .grid > .col-main {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 58.333%;
      width: 58.333%;
    }
  
    section.wall .grid > aside {
      min-height: 30px;
      position: sticky;
      top: 110px;
    }
  }
  
  section.wall .grid > aside h4 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
/*flexare card e contenuto*/
  section.wall .card {
    display: flex;
    column-gap: 28px;
    margin-bottom: 48px;
  }

  section.wall .card .content {
    flex: 1 1 200px;
    min-width: 200px;
  }

  section.wall .card .content + img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  

  @media screen and (min-width: 576px) {
    section.wall .card .content + img {
      width: 150px;
    }
  }


  @media screen and (min-width: 728px) {
    section.wall .card .content + img {
      width: 200px;
      height: 134px;
    }
  }


  section.wall .card .avatar-title {
    padding-bottom: 8px;
  }
  
  section.wall .card h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
  }
  
  section.wall .card p {
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    display: -webkit-box;
   
    overflow: hidden;
    color: rgba(117, 117, 117, 1);
  }


  section.wall .card .bottom-info {
    padding-top: 8px;
  }
  @media screen and (max-width: 575px) {
    section.wall .card .bottom-info .badge {
      display: none;
    }
  }
  
  section.wall .card img[src$="star.svg"] {
    margin-left: 0.25rem;
  }
  
  aside h4 {
    margin-bottom: 16px;
  }
  
  aside .categories {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
    width: 50%;
  }

  
  aside .categories .category {
    font-size: 13px;
    line-height: 20px;
    padding: 6px 16px;
    border: 1px solid rgba(230, 230, 230, 1);
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.25px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 2px;
  }


  aside footer {
    padding-top: 24px;
    border-top: 1px solid rgba(230, 230, 230, 1);
  }


  aside footer ul {
    list-style: none;
  }
  
  aside footer ul li {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 8px;
  }
  aside footer li a {
    font-size: 14px;
    line-height: 20px;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
  }
  
  
/*se usi position sticky si comporta da sticky finche si trova nell'header in questo caso meglio usare position fixed
/*
header{position:relative;
background-color: #ffc017;
z-index: 30;
position: sticky; 
top: 0;
    }

    header button{border-radius: 15px;
    padding: 15px;
background-color: #191919;}


header a{text-decoration: none;
color: black;}

nav div>button a{color: white;}


nav {
    display: flex;
    border-bottom: 1px solid black;
    background-color: #ffc017;
    align-items: center;
    padding-top: 40px;
   padding-bottom: 40px;
    width: 100%;
    z-index: 30;
}

.marginlogo{margin-left:70px;}

nav div:first-child{
    width: 60%;
}

nav div:last-child{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:last-child > button{
    border-radius: 20px;
    color: white;
    background-color: #191919;
    border: none;
    padding: 3% 5%;
  margin-right: 15px;
}




   h1{font-size:5rem;
}
p{font-size:1.55em;}

article{
    background-color: #ffc017;
    width: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    }
    article button{padding:20px;
    background-color:#191919 ;
border-radius: 15px;
}

article button a{color:white;
text-decoration: none;}


.staycurios{
    
    height: 50%;

margin-left: 70px;
margin-bottom:15px;
}

.staycurios button{
    padding-left:70px;
    padding-right:70px;
    padding-top:10px;
    padding-bottom:10px;
    border: none;
    font-size: 16px;
}

.flexa>h1{margin-bottom: 15px;
    font-size: 109px;
    width:100%;
    font-family: 'Spectral', serif;
}

#stay{ font-family: 'Spectral', serif;

}
.flexa{display: flex;

justify-content: space-between;}


.trending img{width:20px;
border-radius:50%;}

.staycurios p{margin-bottom: 25px;
   width:80%;}
    

.container{display: flex;
    flex-wrap: wrap;
    }

.allinea-trending{display:flex;
    flex-wrap: wrap;
    justify-content: center;
 align-content: center;
}



.titolotrending{
margin-bottom: 0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:15px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
}


.trending{ border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    flex: 0 0 30%; /* Imposta larghezza e margine tra le caselle 
    margin: 5px;
line-height: 30px;

}
.separa-section{margin-bottom: 50px;
}

   .num{display:flex;
    align-items: center;
}
.num p{color:#ddd;
margin-right:15px;}

.num h5{
    font-weight:bolder ;
font-size: small;}

.trending h4{font-weight:bolder;
    font-size: medium;}

    .marginh{margin-left:42px;}

   

   .trending-sup{border-bottom:  1px solid#ddd;}


   .flexarticlecolumn{display:flex;
flex-direction: column;
width:60%;
margin-left:40px;
align-items: baseline;}

.discover{display:flex;
    flex-wrap: wrap;
    justify-content: right;
  
   
    
}

    .allineadiscover{display: flex;
    flex-direction: row;
    
}


   
.sticky h4{padding:15px;}
    
aside footer{position:relative;
        position:sticky;
        top: 150px;
   }

    .discover div>a{ 
        padding: 15px;
        margin-bottom: 15px;
        text-decoration: none;
        color:grey;
        font-size: 10px;
       
    }

    .discover h4{
        padding:0;
        font-size: large;
        font-weight:bold;
        text-transform: uppercase;
    }


.flexarticlecolumn img{width:200px;
height:150px;}

.flexaimmagini{display:flex;
flex-direction: row;
width:100%;
margin-bottom:20px;
align-items:center;

}
.flexatutto{display:flex;
    flex-direction: column;
    width:60%;
}



.category{ 
display: inline-block;

border:1px solid #ddd;}

.flexatutto img{height:20px;
width:20px;
border-radius:50%;
}
      
    
    
.flexatutto h5,h4,h3,h2{margin-bottom: 15px;}

.flexatutto h5{font-size: small;
    font-weight: bolder;}

.flexatutto h2{font-size:larger;
font-weight: bolder;}


.allinea-immagini{display:flex;
flex-direction:row;
}

.flexatitolo{ display: flex;
align-items: center;
margin-bottom:15px;
  }

  .flexamin{ display: flex;
    flex-direction: row;
      }

  .flexatitolo h5{margin-bottom: 0;}

  .help a{ display: inline-block;}

  */