
body{
    font-family: 'Roboto', sans-serif;

}
header{position:relative;
background-color: #ffc017;

position: sticky; 
top: 0;
    }

    header button{border-radius: 15px;
    padding: 15px;
background-color: #191919;}


header a{text-decoration: none;
color: whitesmoke;}

nav {
    display: flex;
    border-bottom: 1px solid black;
    background-color: #ffc017;
    position: sticky; 
    top: 0;
    width: 100%;
    z-index: 30;
}

nav div:first-child{
    width: 60%;
}

nav div:last-child{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:last-child > button{
    border-radius: 20px;
    color: white;
    background-color: #191919;
    border: none;
    padding: 3% 5%;
}
   h1{font-size:5rem;}
p{font-size:1.75em;}

article{
    background-color: #ffc017;
    width: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    }
    article button{padding:20px;
    background-color:#191919 ;
border-radius: 15px;
}

article button a{color:white;
text-decoration: none;}


#staycurios{
    height: 40%;
width:70%;}


.container{display: flex;
    flex-wrap: wrap;
    }

.allinea-trending{display:flex;
    flex-wrap: wrap;
    justify-content: center;
 align-content: center;
}

.titolo{
   display: flex;
align-items: center;
align-content: center;
margin-top:20px;

font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.trending{ border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    flex: 0 0 45%; /* Imposta larghezza e margine tra le caselle */
    margin: 5px;

}
.separa-section{margin-bottom: 50px;
}

   .num{display:flex;}

   .trending-sup{border-bottom:  1px solid#ddd;}


   .flexarticlecolumn{display:flex;
flex-direction: column;
width:60%;

align-items: baseline;}

.discover{display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position:sticky;
    top:0;
    width:40%;}

    .allineadiscover{display: flex;
    flex-direction: row;}

   

    .discover div>a{ 
        padding: 15px;
        margin: 5px;
    
    }


.grosso{width:80%;}

.flexarticlecolumn img{width:150px;
height:150px;}

.flexaimmagini{display:flex;
flex-direction: row;
width:120%;
margin-bottom:20px;
}
.flexatutto{display:flex;
    flex-direction: column;
    width:60%;}

      
    
    
