
/*header*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*The box-sizing property allows us to include the padding and border in an element's total width and height.

fa in modo che la box sizing sia incluso di padding e margin per uniformare box*/
.flexanav{display:flex;
align-items: center;
justify-content: space-between;}


.barramenu li{display: inline-block;
vertical-align: middle;}


.barramenu li a{margin-right:25px;
text-decoration: none;
color: black;}

.barramenu li button{margin-right:25px;}


button{background-color: black;
line-height: 20px;
padding:20px;
color:white;
border-radius: 15px;
font-family: inherit;}

.flexanav img{margin-left: 25px;}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 2px solid black;
    transition: background-color 0.6s;
    background-color: #ffc017;
padding-top:20px;
padding-bottom:20px;
   
  }


.flexacontenutoemme{display:flex;}


body {
    font-family: "Roboto", sans-serif;
    
  }

  .contenuto h1{font-family: "Spectral", serif;
    margin-bottom: 20px;
font-size: 70px;
letter-spacing: -2;}

  .contenuto{width:550px;
padding-top:100px;
padding-left: 25px;
color: black;

}

.contenuto h3{width:60%;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    }

.contenuto button{ padding-left: 80px;
padding-right: 80px;
font-size: large;}

.emme{position:absolute;
width:585px;
left:500px;
top:50px;
}


.eroe{background-color: #ffc017;
    overflow: hidden;
    border-bottom: 2px solid black;
    position: relative;
    padding-bottom: 40px;} /*con position relative lo posizio rispetto al normale flusso documento*/


/*per tablet responsive faccio scomparire tutti i figli tranne sign in e button per telefono invece rimane solo il button*/
@media screen and (max-width:768px ) {
  nav .barramenu li:not(:nth-last-child(2)):not(:last-child){display: none;}
  }
/*mobile*/
  @media screen and (max-width:640px ) {
    nav .barramenu li:not(:last-child){display: none;}
    }

    /*faccio scomparire artwork emme*/

    @media screen and (max-width:640px ) {
        .emme{display: none;}
        }


        /*section*/
        .flexatitolotrending{display: flex;
        align-items:center;}


        .flexatitolotrending h3{font-size:15px;
        text-transform: uppercase;
    font-family: 'font-family: "Roboto", sans-serif;';
    font-weight: 500px;}


        .griglia{display: flex;
            flex-wrap: wrap;
       }


    .colonna{display:flex;
        border:1px solid grey;
        column-gap: 20px;
    }

    
    .colonna h1{font-size: 13px;
        color:gray;
        margin-bottom: 10px;
    }
    .colonna h3{font-size: 15px;
        color:black;
        font-weight: bold;
        margin-bottom: 10px;
    }

    

    .flexacolonna{display: flex;
    flex-direction: row;
align-items: baseline;
}


.titolo-avatar{ display: flex;
    flex-direction: row;
   
    align-items: baseline;}

.titolo-avatar img{border-radius: 50%;
width:15px;
margin-right: 15px;}

        .num{margin-right: 15px;
            color:rgb(203, 197, 197);
            font-weight: 900;
        font-size: 20px;
    line-height: 36px;
}

       

        .contenutocolonna{flex-direction: column;}
        
        .infoinferiori{display:flex;
            justify-content: space-between;}

            .nonpoint{display:none}

            .infoinferiori span{font-size: 13px;
                color:grey;
                
            }


            
            section > .contenitore > .griglia > .colonna {
                width: 100%; /* fallback */
                flex-basis: 100%;
                margin-bottom: 24px;
                      padding-inline: 16px;
              }
            
              @media screen and (min-width:728px ) {
                section > .contenitore > .griglia > .colonna {
                    width: 50%; /* fallback */
                    flex-basis: 50%;
                    margin-bottom: 24px;
                      padding-inline: 16px;
                  }
                }


            
                  
                  @media screen and (min-width: 1080px) {
                    section > .contenitore > .griglia > .colonna {
                      width: 33.333%; /* fallback */
                      flex-basis: 33.333%;
                      margin-bottom: 24px;
                      padding-inline: 16px;
                    }
                  }